<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
    <form method="POST">
        <label>Enter Email</label>
        <input type="email" name="email" required>
        <label>Create New Password</label>
        <input type="password" name="new_password" required>
        <label>confirm password</label>
        <input type="password" name="c_password" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>